relays:
  - name: thumbgo
    urls:
      - wss://portal.thumbgo.kr/relay
  - name: gosuda
    urls:
      - wss://portal.gosuda.org/relay

services:
  - name: test-thumbgo
    relayPreference:
      - thumbgo
      - gosuda
    target: localhost:1013
    protocols:
      - http/1.1
      - h2
    metadata:
      description: "Service description"
      tags:
      - tag1
      - tag2
      thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQL0ZRzgDL1NAK14VjGsxNHpP2nPniGo4igF7wmgVI-nq8zyndYAjqob5xVvsgTfPbRnFD5sINjnepMxMef-ivbVYoB2l9A2kLWrd2OA3z&s=10"
      owner: "owner-name"
      hide: false
  - name: test-thumbgo2
    relayPreference:
      - thumbgo
      - gosuda
    target: localhost:1014
    protocols:
      - http/1.1
      - h2        

